@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Raleway;
  }

  body {
    min-height: 100vh;
    margin: 50px 50px;
    padding: 20px 20px;
    background-image: url("mage/open-book1.jpg");
    background-size: cover;
  }

  .top-nav {
    padding: 0px 50px 50px;
    display: flex;
    justify-content: end;
    gap: 200px;
    margin-bottom: 200px;
 }

 .name-role-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 h2.name {
    padding-bottom: 20px;
    font-weight: 900;
 }

 h3 {
    padding-bottom: 10px;
 }

 li.name {
   padding-top: 25px;
   padding-right: 25px;
   padding-bottom: 25px;
 }

 .icon {
   width: 20px;
   height: 20px;
   padding-top: 30px;
   padding-right: 10px;
   position: relative;
 }

 footer {
   margin-top: 200px;
 }

 .form {
   padding-top: 80px;
 }
 #first-name, #last-name, #email, #subject, #message {
   padding: 15px;
   border-top: none;
   border-right: none;
   border-left: none;
   outline: none;
   font-size: 14px;
 }

 .information {
   display: flex;
   justify-content: space-between;
   padding-right: 70px;
   margin-right: 50px;
 }

 #last-name, #subject {
   margin-left: 25px;
 }
 #message {
   width: 365px;
   height: 50px;
 }

 #submit{
   width: 395px;
   height: 40px;
   font-size: 14px;
   margin-top: 15px;
 }
 